.card {
    background-color: white;
    border: 5px solid black;
    width: 125px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100vw;
    margin-bottom: 20px;
}