.card {
    background-color: white;
    border: 5px solid black;
    width: 125px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100vw;
    margin-bottom: 20px;
}

#cat{
    background-image: url("resources/common/cat.png");
}

#house{
    background-image: url("resources/common/house.png");
}

#ghost{
    background-image: url("resources/common/ghosting.png");
}

#pumpkins{
    background-image: url("resources/common/pumpkins_shape.png");
}

#ghostface{
    background-image: url("resources/common/ghostface.jpg");
}

#tree{ 
    background-image: url("resources/common/tree.jpg");
}

#pennywise{
    background-image: url("resources/common/pennywise.jpg");
}

#joker{
    background-image: url("resources/common/lookinggoodjoker.jpg");
}

#reaper{
    background-image: url("resources/common/pumpreap.jpg");
}

#smoke{
    background-image: url("resources/common/smoke.jpg");
}