body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 50px;
}
.matches {
    border: 5px solid black;
    width: 125px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
} 
#container {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#cat{
    background-image: url("../../resources/common/cat.png");
}

#house{
    background-image: url("../../resources/common/house.png");
}

#ghost{
    background-image: url("../../resources/common/ghosting.png");
}

#pumpkins{
    background-image: url("../../resources/common/pumpkins_shape.png");
}

#ghostface{
    background-image: url("../../resources/common/ghostface.jpg");
}

#tree{ 
    background-image: url("../../resources/common/tree.jpg");
}

#pennywise{
    background-image: url("../../resources/common/pennywise.jpg");
}

#joker{
    background-image: url("../../resources/common/lookinggoodjoker.jpg");
}

#reaper{
    background-image: url("../../resources/common/pumpreap.jpg");
}

#smoke{
    background-image: url("../../resources/common/smoke.jpg");
}