body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 50px;
}
.matches {
    height: 100%;
    width: 10%;
    border: 1px, solid black;
} 
#container {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#cat{
    background-image: url("../../resources/common/cat.png");
}

#house{
    background-image: url("../../resources/common/house.png");
}

#ghost{
    background-image: url("../../resources/common/ghosting.png");
}

#pumpkins{
    background-image: url("../../resources/common/pumpkins_shape.png");
}

#ghostface{
    background-image: url("../../resources/common/ghostface.jpg");
}

#tree{ 
    background-image: url("../../resources/common/tree.jpg");
}

#pennywise{
    background-image: url("../../resources/common/pennywise.jpg");
}

#joker{
    background-image: url("../../resources/common/lookinggoodjoker.jpg");
}

#reaper{
    background-image: url("../../resources/common/pumpreap.jpg");
}

#smoke{
    background-image: url("../../resources/common/smoke.jpg");
}